@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  line-height: 1.5; 
}

h1, p, button {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    font-size: 2rem;
}

footer p {
    font-size: 1.5rem;
}

button {
    margin: 2rem auto;
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 3vmin;
}

footer {
    margin-top: rem;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

#gitimg {
    height: 25px;
    display: inline-block;
}